<% provide(:title, "About") %>
<h1 class="text-center">Leader Boards</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="hero-widget well well-sm">
        <div class="icon">
          <i class="glyphicon glyphicon-th-list"></i>
        </div>
        <div class="text">
          <label class="text-muted">Categories Leader Board</label>
        </div>
        <div class="options">
          <%= link_to categories_path, class: "btn btn-primary btn-lg" do %>
              <i class='glyphicon glyphicon-plus'></i> Categories
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hero-widget well well-sm">
        <div class="icon">
          <i class="glyphicon glyphicon-list"></i>
        </div>
        <div class="text">
          <label class="text-muted">Subcategories Leader Board</label>
        </div>
        <div class="options">
          <%= link_to subcategories_path, class: "btn btn-primary btn-lg" do %>
              <i class='glyphicon glyphicon-plus'></i> Subcategories
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="hero-widget well well-sm">
        <div class="icon">
          <i class="glyphicon glyphicon-list-alt"></i>
        </div>
        <div class="text">
          <label class="text-muted">Quizzes Leader Board</label>
        </div>
        <div class="options">
          <%= link_to quizzes_path, class: "btn btn-primary btn-lg" do %>
              <i class='glyphicon glyphicon-plus'></i> Quizzes
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>